{% extends "base.html" %} {% block title %} Login {% endblock %} {% block
content %}

<form method="POST" action="{{ url_for('signin') }}">
  <input type="hidden" name="next" value="{{ next or url_for('index') }}" />
  <p>
    <label>User:</label>
    <input class="form-control" type="text" name="user" required />
  </p>
  <p>
    <label>Password:</label>
    <input class="form-control" type="password" name="password" required />
  </p>
  <p><button class="btn btn-primary" type="submit">Signin</button></p>
</form>

{% endblock %}
